.bookingForm {
  padding: 50px 16px;
  background-color: #eee9e2;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.bookingFormTitle h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2f2d2d;
}
.bookingFormCaption p {
  color: #635c56;
}
.bookingFormField {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 1024px) {
  .bookingForm {
    padding: 80px;
  }
  .bookingFormTitle h3 {
    font-size: 40px;
  }
  .bookingFormCaption {
    width: 60%;
  }
  .bookingFormField {
    width: 60%;
    row-gap: 18px;
  }
}

.caption {
  padding: 50px 16px;
}
.caption h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .caption {
    padding: 80px;
  }
  .caption h3 {
    font-size: 32px;
  }
}
